body {
    width: 1440px;
    min-width: 375px;
    height: 100vh;
    background-color: hsl(32, 50%, 90%);
    display: flex;
}


/* PREVIEW CARD */
.allcard {
    height: 350px;
    width: 600px;
    margin: auto;
    display: flex;
}



/* SIDE IMAGE */
.boxpicture {
    height: inherit;
    width: 300px;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}



/* SIDE CONTENTE */
.boxcontent {
    height: inherit; /*remember take of the value of 30px of height*/
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    padding: 15px 30px; 
    border-radius: 0 15px 15px 0;
}

.perfume {
    width: 150px;
    font: 300 11px 'Montserrat', 'Nixie One', serif;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    margin-bottom: -10px;
}

h1 {
    width: 170px;
    font: 700 25px/28px 'Fraunces';
    color: hsl(212, 21%, 14%);
    margin-bottom: -5px;

}

.description {
    width: 190px;
    font: 500 11px/20px 'Montserrat', 'Nixie One', serif;
    color:hsl(228, 12%, 48%);
    margin-bottom: 10px;
    
}

/* Box with price and full value */
.price {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.discount {
    font: 700 25px 'Fraunces';
    color: hsl(158, 36%, 37%);
}

.full {
    font: 300 11px 'Montserrat', 'Nixie One', serif;
    color:hsl(228, 12%, 48%);
    text-decoration:line-through;
}


/* Button cart */
button {
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: hsl(158, 36%, 37%);
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: hsl(159, 59%, 16%);
}

button > p {
    color: white;
    font: 500 14px 'Montserrat', 'Nixie One', serif;;
}